@model IEnumerable<Vidly.Models.Movie>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div class="row">
	@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary btn-lg" })
</div>
<div class="row">
	@if (!Model.Any()) {
		<text>We don't have movies yet</text>
	} else {
		<table class="table">
			<thead>
				<tr>
					<th>Movie</th>
					<th>Genre</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var movie in Model) {
					<tr>
						<td>@Html.ActionLink(@movie.Name, "Edit", "Movies", new { id = movie.Id }, htmlAttributes: null)</td>
						<td>@movie.Genre.Name</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>